.quick-create-wheel
{
	background-image: resource('images/components/quick_wheel1');
	background-color: rgba(1,0,0,0);
	-unity-background-image-tint-color: rgba(.42,.42,.42,.8);
	position: absolute;
	top: 2%;
	bottom: 2%;
	align-self: center;
}
 
.quick-create-wheel-button
{
	background-image: resource('images/buttons/quick_button');
	-unity-slice-scale: 0.1px;
	position: absolute;
	align-items: center;
	width: auto;
	opacity: 0.7;
}

.quick-create-wheel-button > Label
{
	color: rgba(0,0,0,1);
	-unity-font-style: bold;
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 1px;
	margin-bottom: 1px;
}

.quick-create-wheel-button-convo
{
	-unity-background-image-tint-color: #D9CA32;
}

.quick-create-wheel-button-append
{
	-unity-background-image-tint-color: #D9CA32;
}

.quick-create-wheel-button-option
{
	-unity-background-image-tint-color: #B25DFF;
}

.quick-create-wheel-button-entry
{
	-unity-background-image-tint-color: #00FF2C;
}

.quick-create-wheel-button-exit
{
	-unity-background-image-tint-color: #FF3E00;
}

.quick-create-wheel-button-option-mod
{
	-unity-background-image-tint-color: #D98E8A;
}

.quick-create-wheel-button-story
{
	-unity-background-image-tint-color: #FF7B00;
}

.quick-create-wheel-button-bool-logic
{
	-unity-background-image-tint-color: #EB2EAE;
}

.quick-create-wheel-button-math
{
	-unity-background-image-tint-color: #EB2EAE;
}

.quick-create-wheel-button-number-compare
{
	-unity-background-image-tint-color: #EB2EAE;
}

.quick-create-wheel-button-string-compare
{
	-unity-background-image-tint-color: #EB2EAE;
}

.quick-create-wheel-button-build-string
{
	-unity-background-image-tint-color: #EB2EAE;
}

.quick-create-wheel-button-trigger
{
	-unity-background-image-tint-color: #FFC200;
}

.quick-create-wheel-button-get-variable
{
	-unity-background-image-tint-color: #7EBEFF;
}

.quick-create-wheel-button-set-variable
{
	-unity-background-image-tint-color: #7EBEFF;
}

.quick-create-wheel-button-int
{
	-unity-background-image-tint-color: #DDDDDD;
}

.quick-create-wheel-button-float
{
	-unity-background-image-tint-color: #DDDDDD;
}

.quick-create-wheel-button-string
{
	-unity-background-image-tint-color: #DDDDDD;
}

.quick-create-wheel-button-bool
{
	-unity-background-image-tint-color: #DDDDDD;
}

.quick-create-wheel-button-jump-in
{
	-unity-background-image-tint-color: #39FFF1;
}

.quick-create-wheel-button-jump-out
{
	-unity-background-image-tint-color: #39FFF1;
}

.quick-create-wheel-button-random
{
	-unity-background-image-tint-color: #00A4FF;
}

.quick-create-wheel-button-sequence
{
	-unity-background-image-tint-color: #00A4FF;
}

.quick-create-wheel-button-player-input
{
	-unity-background-image-tint-color: #EE4466;
}

.quick-create-wheel-button-show
{
	-unity-background-image-tint-color: #B15BFF;
}

.quick-create-wheel-button-hide
{
	-unity-background-image-tint-color: #B15BFF;
}

.quick-create-wheel-button-goto
{
	-unity-background-image-tint-color: #13FF6B;
}

.quick-create-grid
{
	align-self: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0);
}

.quick-create-grid-button-box
{
	position: absolute;
    background-color: rgba(0,0,0,0.8);
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.quick-create-grid-button-convo-box
{
    top: 60px;
    left: 60px;
}

.quick-create-grid-button-logic-box
{
    top: 60px;
    right: 60px;
}

.quick-create-grid-button-flow-box
{
    bottom: 60px;
    left: 60px;
}

.quick-create-grid-button-variable-box
{
    bottom: 60px;
    right: 60px;
}

.quick-create-grid-button
{
	width: 106px;
	position: relative;
	align-items: center;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
	background-color: rgba(0,0,0,1);
	background-image: resource('images/components/node_border');
	-unity-slice-scale: 0.14px;
	opacity: 0.7;
}

.quick-create-grid-button > Label
{
	color: rgba(0,0,0,1);
	-unity-font-style: bold;
	font-size: 10px;
}

.quick-create-grid-button-convo
{
	-unity-background-image-tint-color: #D9CA32;
	color: #D9CA32;
}

.quick-create-grid-button-convo > Label
{
	color: #D9CA32;
}

.quick-create-grid-button-option
{
	-unity-background-image-tint-color: #B25DFF;
}

.quick-create-grid-button-option > Label
{
	color: #B25DFF;
}

.quick-create-grid-button-entry
{
	-unity-background-image-tint-color: #00FF2C;
}

.quick-create-grid-button-entry > Label
{
	color: #00FF2C;
}

.quick-create-grid-button-exit
{
	-unity-background-image-tint-color: #FF3E00;
}

.quick-create-grid-button-exit > Label
{
	color: #FF3E00;
}

.quick-create-grid-button-option-mod
{
	-unity-background-image-tint-color: #D98E8A;
}

.quick-create-grid-button-option-mod > Label
{
	color: #D98E8A;
}

.quick-create-grid-button-story
{
	-unity-background-image-tint-color: #FF7B00;
}

.quick-create-grid-button-story > Label
{
	color: #FF7B00;
}

.quick-create-grid-button-bool-logic
{
	-unity-background-image-tint-color: #EB2EAE;
}

.quick-create-grid-button-bool-logic > Label
{
	color: #EB2EAE;
}

.quick-create-grid-button-math
{
	-unity-background-image-tint-color: #EB2EAE;
}

.quick-create-grid-button-math > Label
{
	color: #EB2EAE;
}

.quick-create-grid-button-number-compare
{
	-unity-background-image-tint-color: #EB2EAE;
}

.quick-create-grid-button-number-compare > Label
{
	color: #EB2EAE;
}

.quick-create-grid-button-string-compare
{
	-unity-background-image-tint-color: #EB2EAE;
}

.quick-create-grid-button-string-compare > Label
{
	color: #EB2EAE;
}

.quick-create-grid-button-build-string
{
	-unity-background-image-tint-color: #EB2EAE;
}

.quick-create-grid-button-build-string > Label
{
	color: #EB2EAE;
}

.quick-create-grid-button-trigger
{
	-unity-background-image-tint-color: #FFC200;
}

.quick-create-grid-button-trigger > Label
{
	color: #FFC200;
}

.quick-create-grid-button-get-variable
{
	-unity-background-image-tint-color: #7EBEFF;
}

.quick-create-grid-button-get-variable > Label
{
	color: #7EBEFF;
}

.quick-create-grid-button-set-variable
{
	-unity-background-image-tint-color: #7EBEFF;
}

.quick-create-grid-button-set-variable > Label
{
	color: #7EBEFF;
}

.quick-create-grid-button-int
{
	-unity-background-image-tint-color: #DDDDDD;
}

.quick-create-grid-button-int > Label
{
	color: #DDDDDD;
}

.quick-create-grid-button-float
{
	-unity-background-image-tint-color: #DDDDDD;
}

.quick-create-grid-button-float > Label
{
	color: #DDDDDD;
}

.quick-create-grid-button-string
{
	-unity-background-image-tint-color: #DDDDDD;
}

.quick-create-grid-button-string > Label
{
	color: #DDDDDD;
}

.quick-create-grid-button-bool
{
	-unity-background-image-tint-color: #DDDDDD;
}

.quick-create-grid-button-bool > Label
{
	color: #DDDDDD;
}

.quick-create-grid-button-jump-in
{
	-unity-background-image-tint-color: #39FFF1;
}

.quick-create-grid-button-jump-in > Label
{
	color: #39FFF1;
}

.quick-create-grid-button-jump-out
{
	-unity-background-image-tint-color: #39FFF1;
}

.quick-create-grid-button-jump-out > Label
{
	color: #39FFF1;
}

.quick-create-grid-button-random
{
	-unity-background-image-tint-color: #00A4FF;
}

.quick-create-grid-button-random > Label
{
	color: #00A4FF;
}

.quick-create-grid-button-sequence
{
	-unity-background-image-tint-color: #00A4FF;
}

.quick-create-grid-button-sequence > Label
{
	color: #00A4FF;
}